*{
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: rgba(50, 50, 50, 0.5); /* Color de fondo semitransparente */
}

.containerOne {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 4fr;
    background: linear-gradient(to right, rgb(238, 223, 13), #ff0000);
}

.container-text {
    margin-left: 2rem;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.container-image img{
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
}

@keyframes animate{

    to{
        opacity: 1;
        transform: translate(0, 0.1rem);
        filter: blur(0);
    }
}
